.weibo-like-icon-animate {
  animation: weibo-like-bounce 0.6s ease-in-out;
}

.weibo-like-icon-liked {
  transform: scale(1.1);
}

@keyframes weibo-like-bounce {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.3) rotate(-10deg);
  }
  60% {
    transform: scale(1.1) rotate(5deg);
  }
  100% {
    transform: scale(1.1);
  }
}

